<mat-toolbar class="mat-elevation-z1 toolbar">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between center">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button>
        <mat-icon class="mat-18">menu</mat-icon>
      </button>
      <span>Logo</span>
    </div>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button>
        <mat-icon class="mat-18">notifications_none</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon class="mat-18">notifications_none</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
